@import url('https://cdn.syncfusion.com/ej2/material.css');

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f7fcfb;
  color: #5B7288;
  padding: 2em;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.sidebar {
  box-shadow: rgba(0, 0, 0, 0.11) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
  box-shadow: rgba(45, 150, 255, 0.11) 0px 7px 30px 0px;
  background-color: #ffffff;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.App-header {
  background-color: #ECF6FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #11644f;
  padding: 2em;
}

.container {
  background-color: #f7fcfb;
  padding: 1em;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.container-box {
  background-color: #f7fcfb;
  max-width: 100%;
  width: 700px;
  text-align: center;
  padding: 0.2em;
}

.container-bg {
  background-color: #11644f;
  padding: 1em;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.69);
  }

.container h2 {
  margin-top: 0;
  color: black;
}

.container-box .p-blue {
  color:#11644f;
  text-align: left;
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  font-size: 20px;
  font-style: bold;
  font-weight: bolder;
}

.container-box input[type="blue"]{
  width: 90%;
  padding: 0.4em;
  margin-bottom: 1em;
  border: 4px solid #11644f;
  border-radius: 3px;
  color: #11644f;
  font-family: 'Segoe UI';
}

.container-box input[type="password"] {
  width: 90%;
  padding: 0.4em;
  margin-bottom: 1em;
  border: 4px solid #11644f;
  border-radius: 3px;
  color: #11644f;
  font-family: 'Segoe UI';
}

.container-box input[type="submit"] {
  width: 40%;
  padding: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.8em;
  background-color: #58a85b;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Segoe UI';
  font-style: bold;
  font-weight: bolder;
}

.container-box input[type="blue"]:hover {
  background-color: #e8ecf1;
}

.container-box input[type="password"]:hover {
  background-color: #e8ecf1;
}

.container-box input[type="submit"]:hover {
  background-color: #269529;
}

.logo {
  width: 150px;
  height: auto;
  align-self: center;
}

.container-box select[type="selectStyle"] {
  width: 90%;
  padding: 0.4em;
  margin-bottom: 1em;
  border: 4px solid #11644f;
  border-radius: 3px;
  color: #5B7288;
  font-family: 'Segoe UI';
}

.container-box option[type="optStyle"]:hover {
  background-color: #e8ecf1;
}

